*.dep
*.o
*.gch
tests/tests
teamA.png
teamB.png
timeseries.csv
game/neurocid-bin
render/makeAndRender
src/libneurocid.so
*.nsj
*.pop
*.csv
*.so.*
*.so
*.pc
*.cmake
box2d/Box2D/CMakeFiles/
box2d/Box2D/Makefile
box2d/CMakeCache.txt
box2d/CMakeFiles/
box2d/Makefile
guichan/CMakeCache.txt
guichan/CMakeFiles/
guichan/Makefile
kmlocal/bin/k*
LuaJIT-2.0.3/src/host/buildvm
LuaJIT-2.0.3/src/host/buildvm_arch.h
LuaJIT-2.0.3/src/host/minilua
LuaJIT-2.0.3/src/jit/vmdef.lua
LuaJIT-2.0.3/src/libluajit.a
LuaJIT-2.0.3/src/lj_bcdef.h
LuaJIT-2.0.3/src/lj_ffdef.h
LuaJIT-2.0.3/src/lj_folddef.h
LuaJIT-2.0.3/src/lj_libdef.h
LuaJIT-2.0.3/src/lj_recdef.h
LuaJIT-2.0.3/src/lj_vm.s
LuaJIT-2.0.3/src/luajit
.cproject
.project
.settings/
Default/
felgo/.qmake.stash
felgo/Makefile
felgo/felgo-neurocid
felgo/moc_predefs.h
felgo/moc_qneurocidcontrol.cpp
felgo/qrc_resources_user.cpp
sdl1/neurocid-bin

