*.dep
*.o
*.gch
tests/tests
teamA.png
teamB.png
timeseries.csv
game/neurocid-bin
render/makeAndRender
src/libneurocid.so
*.pop
*.csv
*.so.*
*.so
*.pc
*.cmake
box2d/Box2D/CMakeFiles/
box2d/Box2D/Makefile
box2d/CMakeCache.txt
box2d/CMakeFiles/
box2d/Makefile
guichan/CMakeCache.txt
guichan/CMakeFiles/
guichan/Makefile
kmlocal/bin/k*

